@font-face {
    font-family: "roboto";
    src:url("fonts/RobotoMono-Regular-NerdFont-Complete.ttf");
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto";
    color: #ddd;
    /*background-color: #333;*/
    background-size: cover;
    background-image: url("imgs/wallpaper-gate.png");
}

a,
a:visited {
    color: #999;
}

.main-section {
    width: 60%;
    margin: auto;
}

.header-section {
    height: 100px;
    padding-top: 50px;
    text-align: center;
    font-size: 28px;
}

#search {
    width: 50%;
    position:absolute;
    left: 25%;
    background-color:rgba(10,10,10,0.8);
    color: #eee;
    height: 2em;
    border-color: #888;
    border-radius: 5px;
}

.links-section {
    background-color: rgba(10,10,10,0.8);
    padding: 10px;
    border: medium #CCC solid;
    border-radius: 25px;
    display: inline-grid;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-layout {
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 0;
}

.links-col {
    width: 90%;
    padding: 5px 10px;
    /*margin: 0px 20px;*/
}

.links-container {
    opacity: 1.0;
}

.links-content {
    text-align: center;
}

.links-list {
    padding: 0;
    margin: 0;
}

.links-title {
    text-align: center;
}

li {
    list-style: none;
}

@media only screen and (max-width: 1100px) {
    .grid-layout {
        grid-template-columns: 50% 50%;
        width: 75%;
        transform: translate(-50%, -35%);
    }

    .links-container {
        opacity: 1.0;
        width: 75%;
        margin: auto;
    }

    .links-content {
        width: 60%;
        margin: auto;
    }

    #search {
        width: 70%;
        left: 15%;
    }
}

@media only screen and (max-width: 1000px) {
    .grid-layout {
        width: 70%;
    }

    .links-col {
        width: 90%;
        padding: 5px 15px;
        /*margin: 0px 20px;*/
    }

    .links-content {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 900px) {
    .grid-layout {
        grid-template-columns: 50% 50%;
        width: 75%;
        transform: translate(-50%, -35%);
    }

    .links-col {
        width: 90%;
        padding: 5px 15px;
        /*margin: 0px 20px;*/
    }

    .links-container {
        opacity: 1.0;
        width: 90%;
        margin: auto;
    }

    .links-content {
        width: 85%;
        margin: auto;
    }
}


@media only screen and (max-width: 600px) {
    .links-section {
        display: inline;
    }

    .grid-layout {
        grid-template-columns: 75%;
        transform: translate(-50%, -25%);
    }
    
    .links-container {
        opacity: 1.0;
        width: 70%;
        margin-left: auto;
    }

    .links-content {
        width:50%;
        margin:auto;
    }
}

@media only screen and (max-width: 500px) {
    .links-section {
        display: inline;
    }

    .grid-layout {
        grid-template-columns: 75%;
        transform: translate(-50%, -25%);
    }
    
    .links-container {
        opacity: 1.0;
        width: 70%;
        margin-left: auto;
    }

    .links-content {
        width:85%;
        margin:auto;
    }
    
    #search {
        width: 75%;
        left: 12%;
    }

}


